@media screen and (max-width: 768px) {
    section {
        padding: 5rem 10%;
    }

    /*---------- Header Section ----------*/
    .header {
        padding: 0 10%;
    }

    .nav-list a {
        margin: 0 10px;
    }

    /*---------- Home Section ----------*/
    #home {
        padding: 10rem 10%;
    }

    .home-text h1 {
        font-size: 2rem;
    }

    .home-img img{
        width: 350px;
        height: 350px;
    }

    /*---------- About Section ----------*/
    #about { 
        padding: 0rem 10%;
    }

    .about-text {
        flex-basis: 95%;
        margin-top: 50px;
    }

    /*---------- Project Section ----------*/
    .project-container {
        flex-direction: column;
    }

    .project-img {
        width: 300px;
        height: 300px;
    }

    /*---------- Contact Section ----------*/
    .contact-container {
        margin-top: 50px;
    }

    .contact-form {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .nav-list a {
        margin: 0 5px;
    }

    /*---------- Home Section ----------*/
    #home {
        padding: 8rem 10%;
    }

    .home {
        flex-direction: column-reverse;
    }

    .home-text {
        margin-top: 20px;
        text-align: center;
    }

    .home-text h1 {
        font-size: 3rem;
    }

    .home-img img{
        width: 400px;
        height: 400px;
    }

    .home-social {
        justify-content: center;
    }
}

@media screen and (max-width: 412px) {
    section {
        padding: 3rem 0%;
    }

    /*---------- Header Section ----------*/
    .header {
        display: none;
        padding: 0;
    }

    /*---------- Home Section ----------*/
    #home {
        padding: 3rem 0;
    }

    .home-text h1 {
        font-size: 2.5rem;
    }

    .home-img img{
        width: 350px;
        height: 350px;
    }

    /*---------- About Section ----------*/
    .about-container {
        margin-top: 50px;
    }

    .about-img img {
        width: 300px;
        height: 250px;
    }

    /*---------- Project Section ----------*/
    .project-img {
        width: 300px;
        height: 250px;
        margin-top: 50px;
    }

}